<p-table [value]="dataObjects" [columns]="pickedProperties" #dt id="datatable"
    [paginator]="paging" [rows]="paging ? rowPaging !== undefined ? rowPaging : 10 : 0"
    [scrollable]="!paging && verticalScrollable" scrollHeight="{{scrollHeight}}">

    <ng-template pTemplate="caption" *ngIf="caption">
        {{caption}}
        <div style="display: flex; justify-content: space-between; flex-direction: row-reverse;">
            <input *ngIf="searchTool" class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <div class="left-group">
                <p-multiSelect *ngIf="columnToggle" [options]="properties" [(ngModel)]="pickedProperties" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" defaultLabel="Choose columns to show" [style]="{minWidth: '200px'}"></p-multiSelect>
                <div class="export">
                    <span class="button" *ngFor="let type of choosenExportType" [ngSwitch]="type">
                        <button *ngSwitchCase="'CSV'" type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
                        <button *ngSwitchCase="'EXCEL'" type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                        <!-- <button *ngSwitchCase="'PDF'" type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field"> 
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

</p-table>